<mat-card [routerLink]="['/character', character.id]" class="cursor-pointer h-full">
    <mat-card-header class="mb-2">
      <mat-card-title>{{ character.name }}</mat-card-title>
      <mat-card-subtitle>ID: {{ character.id }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" [alt]="character.name" class="h-25">
    <mat-card-content class="mt-2">
        <p *ngIf="character.description">{{ character.description }}</p>
        <p *ngIf="!character.description">Description not available</p>
    </mat-card-content>
</mat-card>
  